<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="true"
         cacheResult="false"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>